<%- model_class = Image -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="container imagecontainer">
  <div class="row">
      <div class="col-md-1">Drag 'n drop</div>
      <div class="col-md-4"><%= model_class.human_attribute_name(:name) %></div>
      <div class="col-md-7"><%= model_class.human_attribute_name(:picture) %></div>
  </div>
    <% @images.each do |image| %>
      <% @imageslist << {"name": image.name , "picture_url": image.picture.url, "image_path": image_path(image), "id": image.id, "order": image.order } %>
    <% end %>
  <div class="row">
    <%= react_component('ImageDraggableList', {imageslist: @imageslist.sort_by{ |i| i[:order] }}) %>
  </div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_image_path,
            :class => 'btn btn-primary' %>
